---
import BaseLayout from '../layouts/baseLayout.astro';
import ContactForm from '../components/contactForm.astro';
---

<BaseLayout>
    <section class="p-12">
        <div class="container mx-auto justify-center items-center">
            <h2 class="text-3xl font-bold mb-8">Contact</h2>
            <ContactForm />
        </div>
    </section>
</BaseLayout>