---

---

<form action="/submit-form" method="POST">
    <div class="bg-black/50 p-5 rounded">
        <div class="grid grid-cols-2 gap-4 ">
        <div>
            <input type="text" id="firstName" placeholder="First Name" name="firstName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <input type="text" id="lastName" placeholder="Last Name" name="lastName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        </div>
        <div class="mb-4">
            <input type="email" id="email" placeholder="Email" name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-6">
            <textarea id="projectDetails" placeholder="Project Details" name="projectDetails" rows="4" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
        </div>
        <button type="submit" class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Enviar
        </button>
    </div>
    
</form>