---

---
<nav class="nav-links bg-black/80 md:bg-transparent space-x-6 md:items-center md:w-auto md:static text-white hidden md:block lg:static w-full absolute top-full right-0 z-10">
  <ul class="text-base justify-center text-gray-300 md:flex md:justify-between">
    <li><a href="/" class="block py-2 px-4 lg:inline-block hover:text-white">HOME</a></li>
    <li><a href="/portfolio" class="block py-2 px-4 lg:inline-block hover:text-white">PORTFOLIO</a></li>
    <li><a href="/skills" class="block py-2 px-4 lg:inline-block hover:text-white">SKILLS</a></li>
    <li><a href="/about" class="block py-2 px-4 lg:inline-block hover:text-white">ABOUT</a></li>
    <li><a href="/contact" class="block py-2 px-4 lg:inline-block hover:text-white">CONTACT</a></li>
  </ul>
</nav>