---

---
<nav class="nav-links bg-black/80 md:bg-transparent space-x-6 md:flex md:items-center md:w-auto md:static lg:bg-transparent text-white hidden lg:block lg:items-center lg:w-auto w-full absolute top-full left-0 z-10 lg:static">
  <ul class="text-base justify-center items-center text-gray-300 lg:flex lg:justify-between">
    <li><a href="/" class="block py-2 px-4 lg:inline-block hover:text-white">HOME</a></li>
    <li><a href="/portfolio" class="block py-2 px-4 lg:inline-block hover:text-white">PORTFOLIO</a></li>
    <li><a href="/skills" class="block py-2 px-4 lg:inline-block hover:text-white">SKILLS</a></li>
    <li><a href="/about" class="block py-2 px-4 lg:inline-block hover:text-white">ABOUT</a></li>
    <li><a href="/contact" class="block py-2 px-4 lg:inline-block hover:text-white">CONTACT</a></li>
  </ul>
</nav>